#design{
  ul{
    margin: 0;
    padding: 0;
    & li:first-child{
      margin-left: 0;
    }
  img{
    object-fit: cover;
    object-position: 0 0;
    height: 350px;
    width: 275px;
    &:hover{
      -webkit-filter: none; /* Chrome, Safari, Opera */
      filter: none;
      opacity: 1;
      transition: ease 1s; 
    }
  }
  }
}
.image-box{
  height: 350px;
  width: 275px;
  border: 1px solid $theme-main-color;
  display: inline-block;
  margin-left: 2em;
}
