#design{
  ul{
    margin: 0;
    padding: 0;
    & li:first-child{
      margin-left: 0;
    }
  }
}
.image-box{
  height: 350px;
  width: 275px;
  border: 1px solid $theme-main-color;
  display: inline-block;
  margin-left: 2em;
}
