.prj-image{
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 1em;
}
.left{
  display: inline-block;
}
.right{
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
.stack-info{
  border: 1px solid black; 
}
