.prj-image{
  width: 600px;
  height: 400px;
  object-fit: cover;
}
.left{
  display: inline-block;
}
.right{
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
.stack-info{
  border: 1px solid $theme-main-color;
}
h3{
  & span{
    border: 1px solid black;
    border-right: none;
  }
}
