#development{
  p{
    font-family: $theme-font;
    color: $theme-main-color;
  }
  img{
    width: 600px;
    height: 400px;
    object-fit: cover;
  }
  a{
    font-family: $theme-font;
    font-weight: $theme-font-bold;
    text-decoration: none;
    text-transform: uppercase;
    color: $theme-main-color;
  }
  ul{
    margin: 0;
    padding: 0;
    & li{
      padding-left: .5em;
    }
    & li:first-child{
      padding-right: .5em;
      border-right: .12em solid $theme-main-color;
      padding-left: 0;
    }
  }
}
.left{
  display: inline-block;
}
.right{
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-left: 2%;
  hr{
    height: .2em;
    border: 0;
    background-color: $theme-main-color;
  }
}
.stack-info{
  background-color: $theme-color-lightest;
  margin-bottom: 1em;
  & p{
    margin: 0;
    padding-left: 1em;
    padding-bottom: .8em;
    padding-top: .5em;
    font-size: .8em;
  }
}
