main{
  width: 75%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
li{
  list-style: $theme-list;
}
h2{
  font-family: $theme-font;
  font-weight: $theme-font-bold;
  font-size: 1.8em; 
}
